{% extends 'base_index.html' %}

{% block title %}Privacy Policy - Rapparel{% endblock %}

{% block extra_css %}
{% load static %}
<style>
     .content { display: none; }
        .content.active { display: block;  }
        .pagination { justify-content: center; margin-top: 20px; }

        h3 {
            color: #2c3e50;
        }
        p, li {
            text-align: justify !important;
            line-height: 1.6;
        }
        .section-title {
            font-weight: bold;
            margin-top: 20px;
        }
</style>

{% endblock %}



{% block content %}

<header class="text-center py-1">
    <h1>Privacy Policy</h1>
</header>


<div class="container mt-3">

    <!-- Content sections -->
    <div id="content-wrapper">
        <div class="content active">

        <p><strong>Last Updated: </strong>17th December 2024</p>

        <p>At <strong>Rapparel Solutions Private Limited</strong> ("Company"), we are deeply committed to safeguarding your personal information's privacy and security. Your trust is of paramount importance to us, and protecting your privacy remains our top priority.</p>

        <p>This Privacy Policy outlines how we collect, use, process, and disclose your information. By accessing and using our website/app/platform and affiliated services, you agree to the terms of this Privacy Policy (“Privacy Policy”) in addition to our ‘Terms of Use.’ We encourage you to review this policy regularly to stay informed about how we collect, use, and disclose your information, as well as to stay updated on any changes or updates we make to this policy.</p>

        <p>This Privacy Policy applies to all websites, products, and services linked to it. However, it does not apply to affiliates and partners that have their own privacy policies. In such cases, we recommend reviewing the privacy policy on the relevant site.</p>

        <p>If you have any questions or need clarification regarding this privacy policy, please contact us at <a href="mailto:privacy@Rapparelsolutions.com">privacy@Rapparelsolutions.com</a>.</p>

        <h3 class="section-title">Understanding the Coverage of This Policy</h3>

        <p>Rapparel Solutions Private Limited ("Rapparel," "the Company," "we," "us," and "our") values your privacy and is committed to safeguarding it. This policy outlines:</p>
        <ul>
            <li>The types of information that Rapparel may collect directly from you or through automated means when you access or use its website, application, and other online services (collectively referred to as "Services"); and</li>
            <li>Our practices for collecting, using, maintaining, protecting, and disclosing that information.</li>
        </ul>

        <p>This policy applies only to the information collected by Rapparel through its Services, including emails, text, and other electronic communications sent through or related to the Services. It does not cover information that you provide to or is collected by any third parties you use in connection with the Services. Rapparel encourages you to consult the privacy policies of those third parties directly.</p>

        <p>Please read this policy carefully to understand Rapparel's practices regarding your information and how we will treat it. By accessing or using our Services and/or registering for an account with Rapparel, you agree to this privacy policy and consent to Rapparel's collection, use, disclosure, retention, and protection of your personal information as outlined here. If you do not provide the required information, Rapparel may be unable to provide you with all of its Services.</p>

        <p>This policy may be updated from time to time, and your continued use of Rapparel's Services after any changes will be deemed acceptance of those changes. Therefore, please check this policy periodically for updates.</p>

        <h3 class="section-title">Permissible Age</h3>

        <p>The Services are not intended for users under the age of 18, unless permitted by applicable local laws (“Permissible Age”). We do not knowingly collect personal information from users under the Permissible Age, nor do we market to or solicit information from anyone under the Permissible Age.</p>
    
        <h3 class="section-title">Data Collection and Utilization</h3>

        <p>Rapparel collects different types of information from users of our Services, including:</p>
        <ul>
            <li><strong>Personal Information:</strong> This refers to data that can be associated with a specific individual and can be used to identify that individual either on its own or when combined with other information we possess.</li>
            <li><strong>Non-Personal Information:</strong> This includes data such as your internet connection details, the device(s) you use to access our Services, usage details, and other information that is not related to your identity.</li>
        </ul>

        <p>We collect this information in various ways: directly from you when you provide it; indirectly from third parties (such as social media sites authorized by you); and automatically as you use our Services (e.g., usage details, IP addresses, cookies, web beacons, and other tracking technologies).</p>




        </div>
        <div class="content">

            <h3 class="section-title">1. User-Provided Data</h3>

            <p>The information we collect through our Services may include:</p>
            <ul>
                <li><strong>Personal Information:</strong> Name, address, email address, postal code, password, and other details you may provide when creating your account, such as gender, mobile number, date of birth, anniversary date, user bio, and website.</li>
                <li><strong>Your Content:</strong> Information you submit through our Services, such as order details, history, contacts for various features, and other details you provide on our Services or account profile. You may provide contacts (e.g., friends or others) to avail certain Services, and by doing so, you confirm that you have consent from those individuals to share their personal information with Rapparel.</li>
                <li><strong>Your Searches and Other Activities:</strong> Search terms you have looked up and results you selected.</li>
                <li><strong>Your Browsing Information:</strong> Data on how long you use our Services, which features you access, and the ads you click on.</li>
                <li><strong>Your Communications:</strong> Messages between you and delivery partners or sellers, some of which may be recorded for internal purposes; participation in surveys, polls, sweepstakes, contests, or promotions; requests for features like newsletters, updates, or products; interactions with customer service and grievance redressal mechanisms. If you send information from the Services via SMS, we may log your phone number, carrier, and the date and time of the message.</li>
                <li><strong>Your Transactional Information:</strong> If you make purchases through our Services, we collect and store information to process your requests and complete forms for future transactions, such as mobile number, address, email, billing, and payment details. This information may be shared with third parties, such as PCI-compliant payment processors. Credit card information is encrypted using industry-standard technologies.</li>
                <li><strong>Image/Video Data:</strong> We may collect and process images and video footage of individuals attending live events or visiting our office/store for security purposes. This includes CCTV footage capturing individuals' images, vehicles, and other details. We may also collect photos or videos during events for promotional or documentation purposes, which may be shared with business or event partners.</li>
            </ul>
    
            <h3 class="section-title">2. Information We Collect Through Automatic Data Collection Technologies</h3>
    
            <p>We may automatically collect certain information about your devices (including mobile devices) and your use of our Services, even if you haven’t registered or logged in.</p>
            <ul>
                <li><strong>Usage Information:</strong> Data about your use of our Services, including traffic data, location data, logs, communication data, and the resources you access and use through our Services.</li>
                <li><strong>Computer and Device Information:</strong> Information about your device, including IP address, operating system, platform, browser type, and other browsing details like connection speed and type, device type, device identifiers, mobile network info, and your device's phone number.</li>
                <li><strong>Stored Information and Files:</strong> Our apps may access metadata and other information associated with files stored on your mobile device, such as photos, audio and video clips, contacts, and address book info.</li>
                <li><strong>Location Information:</strong> We collect real-time location data from your device, as permitted by you.</li>
                <li><strong>Last URL Visited:</strong> The URL of the last web page you visited before visiting our websites.</li>
                <li><strong>Mobile Device IDs:</strong> When using our Services on a mobile device, we may use mobile device identifiers (e.g., IDFA) to recognize you and store your preferences, and track your usage. Unlike cookies, mobile device IDs are not deletable and may be used by advertising and analytics companies to track app usage and show relevant ads.</li>
                <li><strong>Your Preferences:</strong> Information about your preferences, such as time zone and language settings.</li>
                <li><strong>Your Activity on the Services:</strong> Data about your activities on the Services, including search queries, comments, domain names, search results selected, clicks, pages viewed, session duration, error logs, and other similar details.</li>
                <li><strong>Mobile Status:</strong> For mobile users, the online/offline status of your application.</li>
                <li><strong>Applications:</strong> Information about the presence and details of other apps on your mobile device. This data helps us understand your preferences and provide a more personalized experience.</li>
                <li><strong>Precise Location Information:</strong> For location-based services, we collect GPS data from your device, including latitude, longitude, or altitude, and the time of the data capture. This information is used to customize location-based features.</li>
                <li><strong>Cookies and Other Electronic Tools:</strong> Rapparel and its third-party partners may use cookies, pixel tags, web beacons, device IDs, and other similar technologies to collect information regarding your use of our Services and third-party websites. These tools help us enhance your experience, deliver personalized content and ads, perform analytics, track usage, and assist with security and administrative functions.</li>
            </ul>
    




        </div>
        <div class="content">
            <section>
                <h3 class="section-title">3. Data from External Sources</h3>
                <p>We may collect, process, and store your user ID linked to any social media accounts (such as Facebook or Google) that you use to sign into the Services or interact with them. By connecting your social media account with Rapparel, you consent to the collection, storage, and use of the information shared through that social media interface in accordance with this Privacy Policy. This may include public information from your social media profile, information shared with us by the social media service, or details provided during the sign-in process. Please refer to the privacy policies of your social media providers for more information on how they share data.</p>
                
                <p>Additionally, we may obtain information about you from third-party partners, marketers, websites, and researchers and combine that data with information we already have about you.</p>
            </section>
        
            <section>
                <h3 class="section-title">How we use the information we collect</h3>
                <p>We collect your data primarily to provide you with the Services you choose to use. Our Services are supported by various services that enhance or improve your experience. We use the information we collect from and about you for a range of purposes, including:</p>
                
                <ul>
                    <li><strong>Service Administration:</strong> We may share your information with third parties who help us facilitate the Services, such as delivery partners, service providers, and vendors.</li>
                    <li><strong>Responding to Queries and Complaints:</strong> To process and respond to your questions or concerns.</li>
                    <li><strong>User Understanding:</strong> To better understand how our users interact with the Services, including the features they like, how they use them, etc., to improve the content and features of the Services, personalize content to your preferences, and offer customized deals and services tailored to your needs.</li>
                    <li><strong>Technical Diagnosis:</strong> To identify and resolve technical problems, platform issues, and other diagnostic tasks required to ensure stable and functional Services.</li>
                    <li><strong>Communications:</strong> To send you communications you’ve requested or we believe will be of interest to you, via email, courier, registered post, telephone, SMS, WhatsApp, or other communication modes. This includes customer support and grievance resolution.</li>
                    <li><strong>Relevant Advertising:</strong> To display ads that is relevant to you.</li>
                    <li><strong>Reports and Research:</strong> To generate and review data reports and to conduct research about our user base and usage patterns.</li>
                    <li><strong>Interactive Features:</strong> To allow you to participate in interactive features offered through our Services, such as promotions, contests, and sweepstakes. This may involve sharing your data with third parties running such promotional activities on our platform.</li>
                    <li><strong>Contractual Obligations:</strong> To fulfill our obligations and enforce our rights arising from any contracts between you and us, including the enforcement or application of our Terms of Service and other agreements, such as for billing and collection purposes.</li>
                    <li><strong>Fraud Prevention:</strong> To detect and prevent fraud, abuse of promotional activities, and violations of our terms of service.</li>
                    <li><strong>Employee Training and Quality Assurance:</strong> For employee training and maintaining service quality.</li>
                    <li><strong>Service Updates:</strong> To notify you about changes or updates to our Services.</li>
                    <li><strong>Legal Compliance:</strong> To comply with legal obligations and requirements.</li>
                    <li><strong>Anonymization and De-identification:</strong> We may anonymize and/or de-identify information collected from you, including using third-party analytics tools. Aggregated and de-identified data is not restricted by this Privacy Policy and may be shared or disclosed without limitation.</li>
                    <li><strong>Marketing:</strong> We may use your information to contact you regarding our own and third-party products and services that may interest you. This allows us to show relevant advertisements to third-party advertisers' target audiences. While we do not disclose your personal information without your consent, if you interact with an advertisement, the advertiser may assume you meet its target criteria.</li>
                    <li><strong>Analytics and Tailored Advertising:</strong> We may use third-party analytics tools, such as Google Analytics, to understand your use of our Services. The information collected will be directly disclosed to these service providers, who use it to evaluate user behavior on our platform.</li>
                    <li><strong>Tailored Advertising:</strong> Third parties whose products or services are advertised or accessible through the Services may use cookies or similar technologies to collect data on your use of the Services. This enables them to track ad impressions, measure ad performance, and deliver tailored ads. We also allow other third parties (e.g., ad networks and servers like Google Analytics, OpenX, Pubmatic, DoubleClick, etc.) to serve targeted ads and use their own cookies on your device. We do not control and are not governed by the privacy policies of these third parties. When accessing Services via a mobile app, you may also receive targeted in-app ads.</li>
                    <li><strong>Payment Card Information:</strong> To process certain aspects of our Services, such as transactions, we may require your credit or debit card information. By submitting this information, you consent to sharing your details with third-party payment processors and other service providers (including fraud detection services) for processing and security purposes.</li>
                    <li><strong>Applicant Information:</strong> If you submit your information to us when applying for a position, including as a delivery partner or in-store staff, this data will be used to evaluate your application. We may retain this information for necessary administrative purposes and share it with other companies for candidate evaluation, background checks, and with third-party service providers who assist in managing applications. If your application is successful, we may also collect, process, and store further information for administrative purposes in line with this Privacy Policy.</li>
                </ul>
            </section>



        </div>
        <div class="content">

            <h3 class="section-title">How we share the information we collect</h3>
            <p>We use your personal information to provide you with the services you choose to receive through our platform and services. To facilitate this, we may disclose the personal information we collect, or that you provide, as described in this Privacy Policy, in the following ways:</p>

            <h4>General Information Disclosures</h4>
            <ul>
                <li><strong>Contractors, Sellers, Suppliers, and Advertisers/Service Providers:</strong> We may share your personal information with contractors, sellers, suppliers, and advertisers/service providers who are typically bound by contractual obligations to maintain confidentiality and use the information only for the purposes for which it was disclosed.</li>
                <li><strong>Business Transfers:</strong> In the event of a merger, divestiture, restructuring, reorganization, dissolution, or the sale or transfer of some or all of Rapparel's assets, whether as part of bankruptcy, liquidation, or other similar proceedings, personal information held by Rapparel about our users may be among the assets transferred to a potential buyer or other successor.</li>
                <li><strong>Third-party marketing:</strong> We may share your information with third parties, including suppliers, to market their products or services to you if you have consented to receive promotional updates. These third parties are contractually required to keep your personal information confidential and use it only for the intended purposes.</li>
                <li><strong>Sellers and Brands:</strong> If you provide feedback regarding the quality of products or services received, we may share this feedback, along with your personal data, with the relevant brand, seller, or third party to ensure timely resolution and to prevent similar issues in the future. We may also run contests or campaigns in collaboration with brands. Participation in such events is voluntary, and your details may be shared with the brand to manage the event, subject to their terms and privacy policies.</li>
                <li><strong>Service Providers:</strong> We may share your information with third-party service providers who help us with a variety of tasks, such as sending communications (emails, messages, or tele-calls) about our products and services, delivering push notifications to your mobile device, providing voice recognition services, helping analyze the use of our Services, and processing payments. Some of our products and services are hosted by third-party providers, and we may use other service providers for activities like conducting surveys, organizing sweepstakes, or providing business solutions. These providers may have access to your information to perform their services.</li>
                <li><strong>Legal Authorities:</strong> We may share your information if we believe, in good faith, that it is necessary to investigate, prevent, or take action regarding potential illegal activities or to comply with legal processes. This may involve sharing your information with law enforcement, government agencies, courts, or other organizations in response to legal requests such as notices, summons, court orders, or government demands, in compliance with applicable laws.</li>
                <li><strong>Audit and Assurance:</strong> We may share your information to address potential threats to safety, investigate violations of this Privacy Policy or the Terms of Service, or to protect the rights, property, and safety of Rapparel, our employees, users, or the public. We may also share your information with internal and external audit teams, affiliated entities, payment gateways, banks, and financial institutions for fraud detection, prevention, auditing, and assurance purposes.</li>
                <li><strong>Exceptional Circumstances:</strong> In certain situations, if we believe disclosure is necessary to protect the rights, property, or safety of Rapparel, our customers, or others, we may share limited data to ensure platform safety. This may include sharing information with other companies and organizations for fraud protection and credit risk reduction.</li>
                <li><strong>Other Consent-based Sharing:</strong> We may also share your information with third parties in any other circumstance where we have your consent to do so.</li>
            </ul>

            <h4>Your Information</h4>
            <ul>
                <li><strong>Correspondence:</strong> By signing up for an account, you agree to receive communications from other Rapparel users and Rapparel itself. You can manage your email and notification preferences and follow the "unsubscribe" instructions for commercial email messages. However, please note that you cannot opt out of receiving certain administrative, service policy, or legal policy-related communications from Rapparel.</li>
                <li><strong>Deletion:</strong> If you wish to permanently delete your account, please use the "Contact Us" link at the bottom of every page (also available here). Once you request the deletion of the data associated with your account, we will not be able to restore your account or its associated data. However, copies and backups of your personal information may remain in our backup storage for recovery purposes in case of contingencies, as well as for enforcing legal rights and fraud/risk mitigation purposes.</li>
            </ul>




        </div>
        <div class="content">

            <h3 class="section-title">Limitation: Your Rights Regarding Your Personal Information</h3>
            <p>Your rights regarding your personal information may be limited in accordance with the laws of your jurisdiction, especially in the following situations:</p>
            <ul>
                <li>If your requests are deemed abusive or unreasonably excessive,</li>
                <li>If the rights or safety of another individual or individuals would be infringed upon,</li>
                <li>If the information or material you request pertains to existing or anticipated legal proceedings between you and us, or if granting access would hinder negotiations or an investigation of potential unlawful activity.</li>
            </ul>
            <p>Your right to review, update, correct, and delete your information is also subject to our records retention policies and applicable law, including any statutory retention requirements.</p>

            <h3>Security: How We Protect Your Information</h3>
            <p>We have implemented appropriate physical, electronic, and managerial safeguards to prevent unauthorized access to your information and ensure data security. These measures are designed based on the sensitivity of the information we collect, process, and store, as well as the current state of technology. We follow generally accepted industry standards to protect the personal information you submit to us, both during transmission and once it is received. Our third-party service providers offering payment gateway and processing services are validated as compliant with the Payment Card Industry standards (commonly known as PCI-compliant service providers).</p>
            <p>We do not assume liability or responsibility for any disclosure of your information due to errors in transmission, unauthorized third-party access, or other causes beyond our control. You also play a crucial role in securing your personal information. Please avoid sharing your username, password, or other security details for your Rapparel account with anyone. If we receive instructions using your username and password, we will treat them as authorized by you and will not be liable for any breach or loss resulting from such perceived authorization.</p>

            <h3 class="section-title">Miscellaneous</h3>

            <h4>Third-Party Links and Services</h4>
            <p>The Services may contain links to third-party websites. Using these features may involve the collection, processing, or sharing of information about you, depending on the specific feature. Please be aware that we are not responsible for the content or privacy practices of other websites or services linked to our platform. We do not endorse or make any representations about third-party websites or services. This Privacy Policy does not cover the information you provide to or that is collected by third parties. We strongly encourage you to review the privacy policies of these third parties before sharing any personal information with them.</p>

            <h4>Policy Amendments</h4>
            <p>We reserve the right to amend this Privacy Policy periodically to reflect changes in the law, our data collection and processing practices, the features of our Services, or advancements in technology. Please check this page regularly for any updates or changes. The use of the information we collect is subject to the Privacy Policy in effect at the time such information is used. If we make any significant changes to this Privacy Policy, we will post the updated version here and may notify you as required by law. We encourage you to review the changes carefully. Continued use of the Services after any changes to this Privacy Policy will signify your consent and acceptance of those changes.</p>

            <h4>Contact Us</h4>
            <p>If you have any questions regarding the processing or usage of the information you provide, or if you have any inquiries about Rapparel's Privacy Policy, please email the Data Protection Officer (DPO) at <a href="mailto:privacy@Rapparelsolutions.com">privacy@Rapparelsolutions.com</a>.</p>

            

        </div>
    </div>
    <span class="page-indicator"></span>


    <!-- Pagination controls -->
    <nav>
        <ul class="pagination">
            <li class="page-item"><button class="page-link text-secondary prev">Previous</button></li>
            <li class="page-item"><button class="page-link text-secondary next">Next</button></li>
        </ul>
    </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let currentPage = 0;
        const contents = $(".content");
        const totalPages = contents.length;

        function showPage(page) {
            contents.removeClass("active");
            $(contents[page]).addClass("active");


            $(".prev").toggle(page !== 0);
            $(".next").toggle(page !== totalPages - 1);
            $(".page-indicator").text((page + 1) + " of " + totalPages);
        }

        $(".prev").click(function () {
            if (currentPage > 0) {
                currentPage--;
                showPage(currentPage);
            }
        });

        $(".next").click(function () {
            if (currentPage < totalPages - 1) {
                currentPage++;
                showPage(currentPage);
            }
        });

        showPage(currentPage); // Initialize with the first page
    });
</script>


{% endblock %}